/* Reset */

html,
body,
ul,
ol
  margin: 0
  padding: 0

/* Fonts */

$font-stack:  Raleway, sans-serif

$h1:    28px
$h2:    20px
$p:     15px


/* Fonts responsive */



/* Main colors */

$dark:          #242423
$darkgrey:      #303030
$mediumgrey:    #BCBCBC
$lightgrey:     #DBDBDB
$blue:          #3891A6
$red:           #E3655B
$yellow:        #F5CB5C

$paragraph-color:   $lightgrey
$description-color: $mediumgrey
$H1-color:          $yellow
$H2-color:          $mediumgrey

/* Margins */

$margin-larg:       40px
$margin-medium:     30px
$margin-small:      20px
$margin-none:       0px
