@import conf

/* Main styles */

.box
  background-color: $darkgrey !important
  box-shadow: none !important
  border-radius: 0px !important

.left
  float: left

.right
  float: right

.quickinfo
  width: 385px
  background-color: yellow
  height: 600px

.red
  background-color: red